@font-face {
    font-family: 'Bebas Neue'; /* Puedes elegir cualquier nombre para tu fuente */
    src: url('/Templates/Fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype'); /* Ajusta la ruta según donde hayas guardado tus archivos de fuente */
}
body{
    margin: 0;
}
header{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px;
    height: 80px;
}

nav{
    background-color: #1C1C1C;
    margin: 0%;
    height: auto;
    border-radius: 8px
}

nav ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav li a{
    font-family:'Bebas Neue', 'Sans Serif';
    color: aliceblue;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    margin: 20px 20px;
}

main h1{
    font-family:'Bebas Neue';
    font-size: 25px;
    text-align: center;
    margin: 40px 0% 40px 0%;
}

main{
    width: auto;
    height: auto;
    margin: 0% 10%;
}

.mainBienvenida{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.SectionsIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SectionsIndex p{
    text-align: left;
    margin: 10px;
    font-family: 'Bebas Neue';
    font-size: 18px;
    font-weight: lighter;
}
.SectionsIndex .ImagesIndex{
    text-align: center;
    margin: 10% 10% 10% 10%;
}

.btnInformation {
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-family: Bebas Neue;
    font-size: 19px;
    justify-content: center;
    margin: 0 auto;
    width: 190px;
    display: block;
    height: 40px;
}
.btnInformation:hover {
	background-color:#393939;
}
.btnInformation:active {
	position:relative;
	top:1px;
}
.ImagesIndex{
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 250px;
    min-height: 333px;
}
.ImagesIndex img{
    width: 100%;
}

        

