<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de snacks el popa</title>
</head>
<header>
    <nav>
        <img src="Images/logoPopa.png" alt="logotipo El Popa" width="150" height="150">
        <a href="#">Inicio</a>
        <a href="#">Informacion</a>
        <a href="#">Agendar</a>
        <a href="#">Contacto</a>
    </nav>
</header>
<body>
    <main>
        <h1>¿Quienes somos y que hacemos?</h1>
        <section class="mainBienvenida">
            <article>
                <img src="Images/tarjetaPopa.jpg" alt="tarjetaPopa" width="250" height="auto">
            <p>Descubre un mundo de posibilidades con los Popas. <br>
            Somos tu servicio para probar los mejores snacks!. <br>
            Desde Obregon hasta Guaymas, Hermosillo, Navojoa <br>
            y sus alrededores, nuestra plataforma te ofrece <br>
            snacks, elotes, aguas frescas, meseros, raspados y mas! <br>
            Explora, conocemos y agendanos.¡Empieza tu cotizacion hoy!
            </article>
            <article>
                <img src="Images/vasoPopa.jpg" alt="vasoPopa" width="250" height="auto">                
                <p>Aquí, ofrecemos una explosión de sabores con <br>
                    nuestra selección de 18 ingredientes para <br>
                    snacks únicos. Además, brindamos servicios a <br>
                    eventos y una auténtica barra de elotes. <br>
                    Nuestros meseros están listos para hacer tu <br>
                    visita inolvidable, y para refrescarte, <br>
                    contamos con raspados, aguas frescas y <br>
                    nachos deliciosos. <br>
                    ¡Ven y disfruta de una experiencia inigualable en "El Popa"! <br>
            </article>
            <article>
                <img src="Images/barraPopa.jpg" alt="barraPopa" width="250" height="auto">
                <p>Descubre un mundo de posibilidades con los Popas. <br>
                Somos tu servicio para probar los mejores snacks!. <br>
                Desde Obregon hasta Guaymas, Hermosillo, Navojoa <br>
                y sus alrededores, nuestra plataforma te ofrece <br>
                snacks, elotes, aguas frescas, meseros, raspados y mas! <br>
                Explora, conocemos y agendanos.¡Empieza tu cotizacion hoy!
            </article>
            <input type="submit" value="Mas Informacion" >
        </section>
    </main>
</body>
</html>