<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de snacks el popa</title>
    <link rel="stylesheet" href="/Templates/CSS/index.css">
</head>
<header>
    <div class="logo"><img src="Images/logoPopa.png" alt="logotipo El Popa" width="150" height="150"></div>
</header>
<nav>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Agendar</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>
<body>
    <main>
        <h1>¿Quienes somos y que hacemos?</h1>
        <article class="mainBienvenida">
            <div class="SectionsIndex">
                <figure class="ImagesIndex"><img src="Images/tarjetaPopa.jpg" ></figure>
                <p>Descubre un mundo de posibilidades con los Popas. <br>
                Somos tu servicio para probar los mejores snacks!. <br>
                Desde Obregon hasta Guaymas, Hermosillo, Navojoa <br>
                y sus alrededores, nuestra plataforma te ofrece <br>
                snacks, elotes, aguas frescas, meseros, raspados y mas! <br>
                Explora, conocemos y agendanos.¡Empieza tu cotizacion hoy!
            </div>
            <div class="SectionsIndex">
                <figure class="ImagesIndex"><img src="Images/vasoPopa.jpg" ></figure>              
                <p>Aquí, ofrecemos una explosión de sabores con <br>
                nuestra selección de 18 ingredientes para <br>
                snacks únicos. Además, brindamos servicios a <br>
                eventos y una auténtica barra de elotes. <br>
                Nuestros meseros están listos para hacer tu <br>
                visita inolvidable, y para refrescarte, <br>
                contamos con raspados, aguas frescas y <br>
                nachos deliciosos. <br>
                ¡Ven y disfruta de una experiencia inigualable en "El Popa"! <br>
                </div>
            <div class="SectionsIndex">
                <figure class="ImagesIndex"><img src="Images/barraPopa.jpg" ></figure>
                <p>Descubre un mundo de posibilidades con los Popas. <br>
                Somos tu servicio para probar los mejores snacks!. <br>
                Desde Obregon hasta Guaymas, Hermosillo, Navojoa <br>
                y sus alrededores, nuestra plataforma te ofrece <br>
                snacks, elotes, aguas frescas, meseros, raspados y mas! <br>
                Explora, conocemos y agendanos.¡Empieza tu cotizacion hoy!
            </div>
        </article>
        <button class="btnInformation">Mas informacion</button>
    </main>
</body>
</html>