<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de snacks el popa</title>
    <link rel="stylesheet" href="/Templates/CSS/information.css">
</head>
<header>
    <div class="logo"><img src="Images/logoPopa.png" alt="logotipo El Popa" width="150" height="150"></div>
</header>
<nav>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Informacion</a></li>
        <li><a href="#">Agendar</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>
<!-- Here finish the nav bar for this page, this code block is using in all the pages--> 
<body>
    <main>
        <h1>¿Que te ofrecemos?</h1>
        <article class="package">
            <div class="package">
                <h1>Paquetes</h1>
                <div class="columnPackage">
                    <figure class="imgBarras"><img src="Images/barrasPopas.jpg" ></figure>
                    <table class="tablaPaquetes">
                        <tr>
                            <td>Paquetes</td>
                            <td>Duracion de servicio</td>
                            <td>Precio</td>
                            <td>Regalo</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <TD>1:30 Minutos</TD>
                            <td>$1500</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <TD>2:00 Minutos</TD>
                            <td>$1950</td>
                            <td>+10 Vasos</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <TD>2:00 Minutos</TD>
                            <td>$2400</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>100</td>
                            <TD>3:00 Minutos</TD>
                            <td>$2700</td>
                            <td>+10 Vasos</td>
                        </tr>
                        <tr>
                            <td>120</td>
                            <TD>3:00 Minutos</TD>
                            <td>$3300</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>150</td>
                            <TD>3:00 Minutos</TD>
                            <td>$3600</td>
                            <td>+10 Vasos</td>
                        </tr>
                        <tr>
                            <td>180</td>
                            <TD>3:00 Minutos</TD>
                            <td>$4500</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>200</td>
                            <TD>3:00 Minutos</TD>
                            <td>$4800</td>
                            <td>+10 Vasos</td>
                        </tr>
                    </table>
                </div> 
            </div>
        </article>
    </main>
<!-- Here start tha footer for this page, this code block is using in all the pages --> 
    <footer>
        <article>
            <h1>Contacto</h1>
            <div>
                <p>Barra De Snacks El Popa <br>
                    Luis Guadalupe Balderrama Palafox <br>
                    Cel: 6441382276 <br>
                    Cd. Obregon, Sonora.
                </p>
            </div>
            <div>
                <a href="https://www.facebook.com/Barra-De-Snacks-El-Popa-102017875862647"><img src="/Templates/iconos/icons8-facebook-48.png"></a>
                <a href="https://www.facebook.com/Barra-De-Snacks-El-Popa-102017875862647"><img src="/Templates/iconos/icons8-instagram-48.png"></a>
                <a href="https://www.facebook.com/Barra-De-Snacks-El-Popa-102017875862647"><img src="/Templates/iconos/icons8-whatsapp-48.png"></a>
            </div>
        </article>
    </footer>
</body>
</html>